Library/
Temp/
*.csproj
*.sln
*.slnx
Assets/Test/
Assets/Test.meta
*.suo
*.pyc
*.pyc.meta
AssetBundles/
obj/
.DS_Store
build/
Logs/
.gradle/
.vs
.idea
GeneratedLocalRepo.meta
Assets/GeneratedLocalRepo
UserSettings/*
Packages/com.*.*/
.vscode/*